<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="rinon.ninqueon.rssreader">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="rinon.ninqueon.rssreader.RSSReader"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <service
            android:name="rinon.ninqueon.rssreader.services.BackgroundUpdateIntentService"
            android:exported="false">

        </service>
        <service
            android:name="rinon.ninqueon.rssreader.services.BindedService"
            android:exported="false">

        </service>

        <receiver android:name="rinon.ninqueon.rssreader.services.BootReceiver"
                  android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity android:name="rinon.ninqueon.rssreader.view.drawer.DrawerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="rinon.ninqueon.rssreader.view.feedEntryScreen.FeedEntryActivity">
        </activity>
        <activity android:name="rinon.ninqueon.rssreader.view.channelFeedScreen.ChannelFeedActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http" android:mimeType="text/xml"/>
                <data android:scheme="http" android:mimeType="text/rss+xml"/>
                <data android:scheme="http" android:mimeType="text/atom+xml"/>
                <data android:scheme="http" android:mimeType="application/xml"/>
                <data android:scheme="http" android:mimeType="application/rss+xml"/>
                <data android:scheme="http" android:mimeType="application/atom+xml"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:mimeType="text/xml"/>
                <data android:scheme="https" android:mimeType="text/rss+xml"/>
                <data android:scheme="https" android:mimeType="text/atom+xml"/>
                <data android:scheme="https" android:mimeType="application/xml"/>
                <data android:scheme="https" android:mimeType="application/rss+xml"/>
                <data android:scheme="https" android:mimeType="application/atom+xml"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http" android:host="*" android:pathPattern=".*rss.*"/>
                <data android:scheme="https" android:host="*" android:pathPattern=".*rss.*"/>
                <data android:scheme="http" android:host="*" android:pathPattern=".*atom.*"/>
                <data android:scheme="https" android:host="*" android:pathPattern=".*atom.*"/>
            </intent-filter>
        </activity>
        <activity
            android:name="rinon.ninqueon.rssreader.view.settingsScreen.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="rinon.ninqueon.rssreader.view.ToolbarActivity">
        </activity>
    </application>

</manifest>